/* signup css */
body{ 
    background-color: rgb(236, 236, 236);
    font-family: 'Poppins', sans-serif;
}
#container {
    /* width: 70vw; */
    border: 1px solid white;
    border-radius: 1rem;
    padding: 4rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 253, 253);


}

#container {
    width: 30vw;
    /* height: 70vh; */

    padding: 3rem;
    margin: 1rem auto;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-size: 20px;
    font-weight: 400;
    width: 100%;
  }
  .navbar-brand {
    font-size: 30px;
  }
 .social-icon {
  font-size: 25px;
  padding: 9px;
  /* border-radius: 49% 51% 50% 50% / 30% 30% 70% 70% ; */
  color: white;
  /* background: white; */
}
.social-icon:hover {
  background-color: white;
  color: black;
  border-radius: 42%;
}


/* Responsive */

/* Mobile devices (portrait) */
@media only screen and (max-width: 765px) {

    #container {
        width: 100vw;
        padding: 1rem;
        margin: 0 auto;
        border-radius: 0;
        margin-bottom: 0;
        height: fit-content;
    }

    .form-control {
        width: 100%;
        /* margin-bottom: 10px; */
        /* padding: 0; */
    }

    .offcanvas,
    .offcanvas-lg,
    .offcanvas-md,
    .offcanvas-sm,
    .offcanvas-xl,
    .offcanvas-xxl {
        --bs-offcanvas-width: 225px;
    }
}

/* Tablets (landscape) */
@media only screen and (min-width: 768px) and (max-width: 1150px) {

    #container {
        width: 350px;
        margin-top: 15vh;
        padding: 1rem;

    }
}

/* Desktops and laptops */
@media only screen and (min-width: 1150px) and (max-width: 1400px) {

    #container {
        width: 30%;
        /* margin-top: 15vh; */
        padding: 2rem;

    }

    div p {
        padding: 0;
    }
}

.create-btn {
    color: black;
}

.create-btn:hover {
    color: white;
}