body{ 
    background-color: rgba(191, 211, 223, 0.558);
    font-family: 'Poppins', sans-serif;
}

#container {

    border: 1px solid white;
    border-radius: 1rem;
    /* padding: 1rem; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin: 5vh auto 5vh auto;

}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-size: 20px;
    font-weight: 400;
    width: 100%;
  }
  .navbar-brand {
    font-size: 30px;
  }
 .social-icon {
  font-size: 25px;
  padding: 9px;
  /* border-radius: 49% 51% 50% 50% / 30% 30% 70% 70% ; */
  color: white;
  /* background: white; */
}
.social-icon:hover {
  background-color: white;
  color: black;
  border-radius: 42%;
}
.main-con{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    /* padding: 0.5em ; */
    height: 155px;
    border-radius: 50%;
    /* -webkit-box-shadow: 3px 3px 13px -6px #312f2f;
  -moz-box-shadow: 3px 3px 13px -6px #312f2f;
   box-shadow: 3px 3px 13px -6px #312f2f; */
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 10px; */
    /* margin: 10px 0px 10px 20px; */
   
}

.profile-pic{
    width: 30%;
}

.profile-shadow{
    margin: 30px 0px 15px 130px;
}

.card-body{
    text-align: center;
    text-transform: uppercase;
}

div .img-fluid {
    margin-top: 1rem;
    padding: 1rem;
    max-width: 100%;
    height: auto;

}

.card a:hover {
    text-decoration: none;
    color: gray;
}

.row {

    display: flex;
    justify-content: space-evenly;

}
.btn{
    display: flex;
    justify-content: space-evenly;
}
#btn{
    text-align: center;
}

#dropdown {
    margin: auto;
}

/*  */

/* Mobile devices (portrait) */
@media only screen and (max-width: 767px) {

    #container {
        padding: 2em;
        margin-top: 0;
        border-radius: 0;
        margin-bottom: 0;

    }

    .profile-img {
        width: 50%;
    }

    .profile-shadow {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);

    }

    .offcanvas,
    .offcanvas-lg,
    .offcanvas-md,
    .offcanvas-sm,
    .offcanvas-xl,
    .offcanvas-xxl {
        --bs-offcanvas-width: 225px;
    }
}

/* Tablets (landscape) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* .container {
      width: 70%;
      margin: 0 auto;
    } */
}

/* Desktops and laptops */
@media only screen and (min-width: 992px) {
    .container {
        width: 70%;
        margin: 0 auto;
    }
}